.DS_Store
.github
PULL_REQUEST_TEMPLATE.md
.gitmodules
.gitattributes
.eslintrc.json
.npmrc
.project
.settings
.travis.yml
.tscache
.tslintrc
.vscode
.nycrc
.editorconfig
.circleci
appveyor.yml
circle.yml
tslint.json
yarn.lock
/build/
/docs/
/scripts/
/src/
/test/
run_tests.sh
update_assets.sh
tscommand*.txt
/coverage/
/.nyc_output
