/*
* CSS for eLearn.js
* Created by Michael Heinecke
* Improved by Arne Westphal
* eLearning-office MIN, Universität Hamburg
* v1.0.0 17/09/25 cc-by-sa
*/

* {
    -webkit-print-color-adjust: exact;
}

body {
    font-size: 12px;
    background: 0;
}

section {
    page-break-before: avoid !important;
}

/* Slider */

.slider {
    max-height: none !important;
    height: auto !important;
    background: 0 !important;
}

ul.img-gallery {
    font-size: 10pt;
    padding: 0 20%;
    max-height: none !important;
    list-style: none !important;
    transition-duration: 0s !important;
    margin-left: 0 !important;
    width: auto !important;
    transform: none !important;
}

ul.img-gallery li {
    max-height: none !important;
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    margin: 25px 0;
}

ul.img-gallery li.loop_clone {
    display: none !important;
}

ul.img-gallery li img {
    margin-bottom: 0 !important;
}

ul.img-gallery li p {
    display: block !important;
    white-space: normal !important;
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 2em !important;
}

.slider-description,
.preview-con {
    display: none !important;
}

/* Hover info */

.hover-info .title {
    background: inherit !important;
    color: inherit !important;
    padding: inherit !important;
}

.hover-info .icon-info {
    display: none;
}

.hover-info .hover-info-block.hide {
    display: inline !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    background: inherit !important;
    color: inherit !important;
    margin: 0 !important;
    padding: inherit !important;
}

.hover-info>div.hover-info-block:before {
    content: "(";
}

.hover-info>div.hover-info-block:after {
    content: ")";
}

/* Hideable */

.hideable-container button {
    display: none;
}

.hideable {
    display: block !important;
}

/* Tabbed boxes */

.tabs {
    display: none;
}

.tabbed-box {
    padding: 1em;
}

.tabbed-box>.tab {
    display: block !important;
    margin-bottom: 1em;
}

.tabbed-box>.tab:last-of-type {
    margin-bottom: 0;
}

.tab:before {
    content: attr(name);
    display: block;
    font-weight: bold;
}

/* MathJax */

.MathJax {
    font-size: 20pt !important;
}

#MathJax_Message {
    display: none !important;
}
